
@import "settings";
@import "foundation";

$top-image: url("/images/logo.png");

nav.top-bar {
  z-index: 7;
  .name {
    background-image    : $top-image;
    background-repeat   : no-repeat;
    background-position : 11px 4px;
    padding-left        : 75px;
  }
}

.Search {
  position : absolute;
  right    : 0;
  bottom   : 0;
  top      : $tabbar-height;
  left     : 0;
  overflow : hidden; 
  .angular-leaflet-map {
    position : absolute;
    right    : 0;
    bottom   : 0;
    top      : 0;
    left     : 0;
    z-index  : 4;
  }
  .details {
    position         : absolute;
    top              : 0;
    right            : 0;
    z-index          : 7;
    left             : 0;
    width            : 100%;
    overflow         : auto;
    background-color : white;
    box-shadow       : 0px -20px 0px rgba($primary-color, 0.51);
    opacity          : .95;
    padding          : 20px;
    transition-property: top;
    transition-duration: .5s;
    &.ng-hide{
      display : block !important;
      top     : 1000px !important;
    }
    .details__navigation {
      position  : absolute;
      right     : 50px;
      top       : 8px;
      font-size : 2em;
      .disabled {
        cursor         : default;
        color          : grey;
        pointer-events : none;
      }
    }
    .close-details {
      content   :'×';
      position  : absolute;
      right     : 10px;
      top       : -10px;
      font-size : 3em;
      cursor    : pointer;
    }
    img.avatar {
      float: left;
      padding-right: 20px;
    }
  }
  .results {
    position         : absolute;
    right            : 0;
    bottom           : 0;
    top              : 0;
    z-index          : 6;
    width            : 50%;
    max-width        : 500px;
    box-shadow       : -20px 0px 0px rgba($primary-color, 0.51);
    background-color : white;
    z-index          : 6;
    overflow-y       : scroll;
    opacity          : .95;
    padding          : 10px;
    .sub-nav dd {
      margin-bottom: 5px;
    }

    .favorite-switch {
      text-align: right;
      span {
        position: relative;
        top: -7px;
        right: 5px; 
      }
    }
    ul {
      list-style: none;
      li {
        padding-left        : 1.2em;
        transition-duration : .25s;
        background-color    : white;
        transition-property : background-color;
        &.active {
          background-color: rgba(234, 234, 234, 1);
        }
        &:before {
          content     : '\f0a3';
          font-family : FontAwesome;
          display     : inline-block;
          width       : 1.2em;
          margin-left : -1.2em;
          color       : $primary-color;
        }
        &.visited:before {
          color : rgba($primary-color, 0.3);
        }
        &.favorited:before {
          content     : '\f005' !important;
        }
        &.active {
          background-color: rgba(234, 234, 234, 1);
        }
      }
    }

  }

  .onLeft {
    position         : absolute;
    left             : 0;
    right            : auto;
    bottom           : 0;
    top              : 0;
    z-index          : 6;
    width            : 100%;
    max-width        : 2000px;
    box-shadow       : -20px 0px 0px rgba($primary-color, 0.51);
    background-color : white;
    z-index          : 6;
    overflow-y       : scroll;
    opacity          : .95;
    padding          : 10px;
  }
}


.Profile .details {
    position         : fixed;
    top              : 0;
    right            : 0;
    z-index          : 7;
    left             : 0;
    width            : 5%;
    overflow         : auto;
    background-color : white;
    box-shadow       : 0px -20px 0px rgba($primary-color, 0.51);
    opacity          : .95;
    padding          : 20px;
    transition-property: top;
    transition-duration: .5s;
    &.ng-hide{
      display : block !important;
      top     : 1000px !important;
    }
}

// EOF
