
@import "settings";
@import "foundation";

$top-image: url("/images/logo.png");

nav.top-bar {
  z-index: 7;
  .name {
    background-image    : $top-image;
    background-repeat   : no-repeat;
    background-position : 11px 4px;
    padding-left        : 75px;
  }
}

.Search {
  position : absolute;
  right    : 0;
  bottom   : 0;
  top      : $tabbar-height;
  left     : 0;
  .angular-leaflet-map {
    position : absolute;
    right    : 0;
    bottom   : 0;
    top      : 0;
    left     : 0;
    z-index  : 4;
  }
  .board {
    position         : absolute;
    right            : 0;
    bottom           : 0;
    top              : 0;
    z-index          : 6;
    width            : 75%;
    max-width        : 900px;
    .results, .details {
      height           : 100%;
      width            : 50%;
      z-index          : 6;
      overflow-y       : scroll;
      background-color : white;
      opacity          : .95;
    }
    .results {
      float: left;
      padding          : 10px;
      ul {
        list-style: none;
        li {
          padding-left: 1.2em;
          &:before {
            content     : '\f0a3';
            font-family : FontAwesome;
            display     : inline-block;
            width       : 1.2em;
            margin-left : -1.2em;
            color       : $primary-color;
          }
        }
      }
    }
    .details {
      float: right;
    }
  }
}

// EOF
