<div class="jumbotron" ng-if="results == undefined">
  <h1>Proof of Concept</h1>
  <p class="lead">
    Allways there to impress chicks and dicks.
  </p>
</div>

<div>
  <form
    name = "searchForm">
    <select
      ng-model   = "search_params.selected_category" 
      ng-change  = "category_selected()"
      ng-options = "cat as cat.title for cat in categories">
    </select>
    <div ng-if="search_params.selected_category">
      <label ng-repeat="motivation in search_params.selected_category.motivations">
        <input
          type            = "checkbox" 
          name            = "motivations"
          checklist-model = "search_params.motivations_selected"
          checklist-value = "motivation"/>
        <span ng-bind-html = "motivation.label"></span>
      </label>
    </div>
  </form>
</div>

<div class="jumbotron" ng-show="results.length == 0">
  no results
</div>

<div ng-if="results.length > 0">
  {{ results.length }} results

  <leaflet width="640px" height="480px" defaults="defaults" center="center" markers="markers"></leaflet>

  <div ng-repeat="result in results">
    <a ng-href="#/entry/{{ result.id }}" ng-bind-html="result.smartTitle"></a>
  </div>
</div>
