<div class="about">
  <section class="container" id="platforms">
    <div class="row">
      <h1>L'API REST</h1>
      <h2>Une nouvelle façon d'interagir avec les plate-formes</h2>
      <p class="large-8 columns panel">
	Qu’est ce que une 
	<a href="https://fr.wikipedia.org/wiki/Interface_de_programmation">API</a>
	? 
	C’est une <cite>façade par laquelle un
	logiciel offre des services à d'autres logiciels. Elle est offerte
	par une 
	<a href="https://fr.wikipedia.org/wiki/Biblioth%C3%A8que_logicielle">bibliothèque
	  logicielle</a> 
	ou un <a href="https://fr.wikipedia.org/wiki/Service_web">service web</a>, le plus souvent
	accompagnée d'une description qui spécifie comment des programmes
	consommateurs peuvent se servir des fonctionnalités du programme
	fournisseur</cite>.
      </p>
      <p class="large-8 columns panel right">
	Etyssa va mettre à votre disposition une API REST, soit un ensemble structuré
	d’URLs permettant de directement consulter et éditer vos données
	de plate-formes. Il y a au moins deux cas d’utilisations de ces
	données :
	<ul class="large-8 columns panel right">
	  <li>
	    Etyssa les <em>consomme</em> ces données et les intègre aux plate-formes
	    habituelles
	  </li>
	  <li>
	    Les collectivités du réseau, Etyssa ou des développeurs
	    extérieurs réalisent des applications qui viennent s’ajouter
	    aux plate-formes classiques
	  </li>
	  <li>Des utilisateurs du service, des associations peuvent
	    également participer</li>
	</ul>
      </p>
      <p class="large-4 columns">
	
      </p>
    </div>
  </section>
  <section class="container" id="api-how">
    <div class="row">
      <p class="large-8 columns">
	L’API va vous offrir une grande liberté dans la façon dont vous
	souhaitez traiter et afficher vos données. Cela laisse la place à
	une dimension expérimentale importante et vous permet de réaliser
	des projets non prévus à priori par les modules classiques des
	applications (sous réserve d’étude préalable par nos soins).
      </p>
      <p class="large-4 columns circular seychelles">
	<img src="/images/seychellen-sonnenuntergang.png" alt="C'est bo les Seychelles on dirait le Laos" />
      </p>
    </div>
  </section>
  <section class="container" id="api-endpoints">
    <div class="row">
      <p class="large-4 columns circular">
	<img src="/images/datacenter-thurdays.png" alt="C'est un datacenter vu de près" />
      </p>
      <p class="large-8 columns right">
	Voici une liste (non exhaustive) des données qui peuvent être consultées :
	<ul class="large-8 columns right">
	  <li>
	    Le réseau
	    <tt>GET http://api.etyssa.com/rest/services</tt></li>
	  <li>
	    Tous les utilisateurs d’un service
	    <tt>GET http://api.etyssa.com/rest/services/{serviceId}/users</tt>
	  </li>
	  <li>
	    Un d’utilisateur d’un service
	    <tt>GET
	      http://api.etyssa.com/rest/services/{serviceId}/users/{userId}</tt>
	  </li>
	  <li>
	    Toutes les annonces d’un service
	    <tt>GET http://api.etyssa.com/rest/services/{serviceId}/entries</tt>
	  </li>
	  <li>
	    Une annonce d’un service
	    <tt>GET http://api.etyssa.com/rest/services/{serviceId}/entries/{entryId}</tt>
	  </li>
	  <li>
	    Tous les univers d'un service
	    <tt>GET “http://api.etyssa.com/rest/services/{serviceId}/categories</tt>
	  </li>
	  <li>
	    Informations sur un service 
	    <tt>GET http://api.etyssa.com/rest/services/{serviceId}”</tt>
	  </li>
	  <li>
	    Ajouter une annonce
	    <tt>POST http://api.etyssa.com/rest/services/{serviceId}/entries” (avec authentification)</tt>
	  </li>
	  <li>
	    Tous les univers d’un service
	    <tt>GET http://api.etyssa.com/rest/services/{serviceId}/categories</tt>     
	  </li>
	  <li>etc.</li>
	</ul>
      </p> 
    </div>
  </section>
  <section class="container" id="why">
    <div class="row">
      <h2>Quelles sont les avantages pour moi, collectivité ?</h2>
      <p class="large-8 columns left">
	Vous n’avez pas de serveur ni de base de données à gérer.
	Par rapport à l’ouverture de l’application d’Etyssa en license
	Libre et / ou Open Source, la consommation de l’API vous laisse plus
	de libertés dans les technologies utilisées (vous pouvez utiliser
	celles de votre choix, ce qui demande peu d’investissements).
      </p>
      <p class="large-8 columns left">
	L’intégration à votre site web est entièrement libre, vous
	disposez des données structurées. Cela demande l’intervention
	d’un-e développeur-e, mais nous envisageons aussi de travailler
	sur une intégration <em>clé-en-main</em> ressemblant à celles
	qui vous permettent déjà d’exporter vos modules.
      </p>
      <p class="large-4 columns circular">
      </p>
      <p class="large-8 columns left" id="modern">
	Pour Etyssa, le développement de l’API ouvre la voie à
	l’utilisation de technologies plus modernes, basées sur des
	outils Open Source, utilisant toute la réactivité des outils JS
	client, tout en se reposant sur les socles éprouvés de
	notre moteur de profiling et une base de données bien garnie.
      </p>
    </div>
  </section>
  <section class="container" id="hack">
    <div class="row">
      <h2>La collaboration avec Édouard Richard</h2>
      <h3>Présentation</h3>
      <p class="large-12 columns left">
	Lors d’un <em>hackathon</em> qui a eu lieu en novembre 2014, nous avons
	finalisé une première version de l’API, et développé des
	démonstrations des fonctionnalités possibles: il
	s’agit d’applications entièrement autonomes, déployables
	facilement et réalisées avec des technologies 100% Open
	Sources. 

	À ce jour, sont possibles :
      </p>
      <ul class="large-12 columns left">
	<li>la recherche d’annonces par univers</li>
	<li>la recherche par filtres à l’intérieur d’un univers</li>
	<li>la réponse à un message (avec connection au compte utilisateur)</li>
	<li>visualisation dynamique des résultats sur carte Open Street Map</li>
	<li>rajouter une annonce à ses favoris</li>
      </ul>
      <p class="circular doud">
      </p>
      <p class="techno large-6 columns">
	<h3>Technologies utilisées</h3>
	<span class="label">Angular.js</span> <span class="label">Node.js</span> <span class="label">Angular.js</span>
	<span class="label">CoffeeScript</span class="label"> <span class="label">Foundation</span>
      <p class="large-6 columns panel">
	<a href="https://github.com/vied12">Édouard Richard</a> est un développeur talentueux, un des plus
	doués de sa génération (celle bien entendu des pokemons), il a
	notamment collaboré chez <a href="http://www.jplusplus.org/fr/">Journalism++</a> depuis 2012 et chez
	Etyssa en 2009.
      </p>
      <p>	
	TODO BUTTONS liens Twitter, Github
	
	TODO récupérer les sources
	https://bitbucket.org/scriptx/nextysse
      </p>
    </div>
  </section>
  <section class="row" id="team">
    <div class="large-12 columns">
      <h2>That is the team</h2>
      <img src="images/ed_and_ol.jpg" />
      <img src="images/seb.jpg" />
    </div>
  </section>
</div>
