
<div class="login__wrapper">
	<div class="row">
		<div class="small-centered columns">
			<form action="">
				<div class="row">
					<div class="large-4 columns">
						<input type="text" name="username" placeholder="E-mail" required/>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<input type="password" name="password" placeholder="Password" required/>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">		
						<input type="submit" class="medium button">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
