<div class="Search" relayout-search-view>

  <leaflet
    tiles    = "tiles"
    defaults = "defaults"
    markers  = "markers">
  </leaflet>
  
  <div class="results">
    <div class="filter-box">
      <form
        name = "searchForm">
        <select
          ng-model   = "search_params.selected_category" 
          ng-change  = "onCategorySelected()"
          ng-options = "cat as cat.title for cat in categories">
          <option value="">-- choose a category --</option>
        </select>
        <div ng-if="search_params.selected_category">
          <dl class="sub-nav">
            <dt>Filters:</dt>
            <dd ng-class="{'active' : search_params.motivations_selected.length == search_params.selected_category.motivations.length }">
              <a href="#" ng-click="toggleAllFilter()">all</a>
            </dd>
            <dd
              ng-repeat = "motivation in search_params.selected_category.motivations"
              ng-click  = "toggleMotivation(motivation)"
              ng-class  = "{'active': isMotivationSelected(motivation) }">
              <a href="#" ng-bind-html="motivation.label"></a>
            </dd>
          </dl>
        </div>  
      </form>
    </div>
    <h2>
      Annonces
      <small ng-if="results == undefined || results.length == 0">no results</small>
      <small ng-if="results.length > 0">{{ results.length }} results</small>
    </h2>
    <ul>
      <li ng-repeat="result in results" id="entry_{{result.id}}">
        <a
          ng-click     = "focusOnEntry(result)"
          ng-bind-html = "result.smartTitle" ></a>
      </li>
    </ul>
  </div>

  <div class="details" ng-show="entry_selected">
    <a class="close-details" ng-click="entry_selected = undefined">&#215;</a>
    <ng-include src="'scripts/views/entry.html'"></ng-include>
  </div>

</div>
